<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582672140914-ctrkn88ds6stuf86de352bgvvf8gh9op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582672140914-ctrkn88ds6stuf86de352bgvvf8gh9op</string>
	<key>API_KEY</key>
	<string>AIzaSyBC1lHt0VKmz6eDQxhpvoNmfTIPTmMMLXs</string>
	<key>GCM_SENDER_ID</key>
	<string>582672140914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keepscore.keepscore</string>
	<key>PROJECT_ID</key>
	<string>getkeepscore</string>
	<key>STORAGE_BUCKET</key>
	<string>getkeepscore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582672140914:ios:ce53bd5e8c97f826c090eb</string>
	<key>DATABASE_URL</key>
	<string>https://getkeepscore.firebaseio.com</string>
</dict>
</plist>